@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
.hero
{
    width: 100%;
    height: 100vh;
    background-image: url(Contact/pexels-francesco-ungaro-998641.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
form
{
    width: 90%;
    max-width: 600px;
}
.input-group
{
    margin-bottom: 30px;
    position: relative;
}
input, textarea
{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}
label
{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}
button
{
    padding: 10px;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label
{
  top: -35px;
  font-size: 14px;  
}
.row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row .input-group
{
    flex-basis: 48%;
}


header
{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}
header .Logo
{
    float: left;
    width: 150px;
}

header .navigation
{
    position: relative;
}
header .navigation .navigation-items a
{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}
header .navigation .navigation-items a::before
{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:hover:before
{
    width: 100%;
}
.footer{
    background-color: gray;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}


.footer .box-container .box{
    flex:1 1 25rem;
}


.footer .box-container .box h3{
    color:#fff;
    font-size: 2.5rem;
    padding:1rem 0;
}


.footer .box-container .box a{
    display: block;
    color:white;
    font-size: 1.5rem;
    padding:1rem 0;
}


.footer .box-container .box a:hover{
    color:var(--pink);
    text-decoration: underline;
}


.footer .box-container .box  img{
    margin-top: 1rem;
}


.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: white;
    border-top: .1rem solid rgb(245, 236, 236);
    padding-bottom: 9rem;
}


.footer .credit span{
    color: blue;
}
