@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
body{ 
    background: black
}
.section-padding{
padding: 100px 0; 
}  
.carousel-item {
 height: 100vh; 
 min-height: 300px; 
}
.carousel-caption{ 
bottom: 220px; 
z-index: 2;
}
.carousel-caption h5 {
font-size: 45px;
text-transform: uppercase;
letter-spacing: 2px;
margin-top: 25px;
}
.carousel-caption p{
width: 60%;
margin: auto;
font-size: 18px;
line-height: 1.9;
}
.carousel-inner::before{
content: '';
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: rgba(0,0,0,0.7);
z-index: 1;
}
section {
    color: white;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: white;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}


.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.products .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    position: relative;    
}

.products .box-container .box .discount{
    position: absolute;
    top:1rem; left:1rem;
    padding:.7rem 1rem;
    font-size: 2rem;
    color:var(--pink);
    background:rgba(255, 51, 153,.05);
    z-index: 1;
    border-radius: .5rem;
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
}

.products .box-container .box .image img{
    height:25rem;
}

.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom:0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    background:var(--pink);
    color:#fff;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:100%;
}

.products .box-container .box .image .icons a:hover{
    background:#333;
}

.products .box-container .box .content{
    padding:2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2.5rem;
    color: white;
}

.products .box-container .box .content .price{
    font-size: 2.5rem;
    color:var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.review .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:3rem 2rem;
    position: relative;
    border:.1rem solid rgba(0,0,0,.1);
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom:3rem; right:3rem;
    font-size: 6rem;
    color:#eee;
}

.review .box-container .box .stars i{
    color:var(--pink);
    font-size: 2rem;
}

.review .box-container .box p{
    color:#999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color:#333;
}

.review .box-container .box .user span{
    font-size: 1.5rem;
    color:#999;
}

header
{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}
header .Logo
{
    float: left;
    width: 150px;
}

header .navigation
{
    position: relative;
}
header .navigation .navigation-items a
{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}
header .navigation .navigation-items a::before
{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:hover:before
{
    width: 100%;
}
section
{
    padding: 100px 200px;
}
.footer{
    background-color: gray;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}


.footer .box-container .box{
    flex:1 1 25rem;
}


.footer .box-container .box h3{
    color:#fff;
    font-size: 2.5rem;
    padding:1rem 0;
}


.footer .box-container .box a{
    display: block;
    color:white;
    font-size: 1.5rem;
    padding:1rem 0;
}


.footer .box-container .box a:hover{
    color:var(--pink);
    text-decoration: underline;
}


.footer .box-container .box  img{
    margin-top: 1rem;
}


.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: white;
    border-top: .1rem solid rgb(245, 236, 236);
    padding-bottom: 9rem;
}


.footer .credit span{
    color: blue;
}
